<section class="Contact" id="contact">
    <h2 class="title">Contact Us</h2>
    <div class="contact-content">
        <div class="contact-card">
            <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
            <div class="contact-info">
                <h2>Phone</h2>
            </div>

            <button type="button" class="sendemailbtn">Call Us</button>

        </div>
        <div class="contact-card">
            <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
            <div class="contact-info">
                <h2>Email</h2>
            </div>

            <button type="button" class="sendemailbtn">Send Email</button>

        </div>
        <div class="contact-card">
            <div class="contact-icon"><i class="fa-brands fa-facebook-messenger"></i></div>
            <div class="contact-info">
                <h2>messenger</h2>
            </div>

            <button type="button" class="sendemailbtn">Chat with Us</button>


        </div>
        <div class="contact-card">
            <div class="contact-icon"><i class="fa-brands fa-whatsapp"></i></div>
            <div class="contact-info">
                <h2>Whatsapp</h2>
            </div>

            <button type="button" class="sendemailbtn">Chat with Us</button>


        </div>
    </div>

</section>