<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/cars.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>Home</title>

    <script>
        /* this function to appear and hide info options */

        document.addEventListener('DOMContentLoaded', function () {
            var select1 = document.querySelector(".name");
            var select2 = document.querySelector(".container1");

            select1.addEventListener('click', function () {
                if (select2.classList.contains('hidden'))
                    select2.classList.remove('hidden');
                else
                    select2.classList.add('hidden');
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var select1 = document.querySelector(".upload-button");
            var select2 = document.querySelector(".container2");

            select1.addEventListener('click', function () {
                if (select2.classList.contains('hidden'))
                    select2.classList.remove('hidden');
                else
                    select2.classList.add('hidden');
            });
        });


        /* This function hide the upload form */

        document.addEventListener('DOMContentLoaded', function () {
            var select1 = document.querySelector(".X");
            var select2 = document.querySelector(".container2");

            select1.addEventListener('click', function () {
                select2.classList.add('hidden')
            });
        })
    </script>

</head>

<body>

    <%- include("./partials/navbar.ejs") %>

        <div id="slideshow-container">
            <div class="slide">
                <img src="./images/banner.jpg" alt="Photo 1">
            </div>
            <div class="slide">
                <img src="./images/Wallpaper.jpg" alt="Photo 2">
            </div>
            <div class="slide">
                <img src="./images/wallpaper3.jpg" alt="Photo 3">
            </div>
            <!-- Add more slides as needed -->
        </div>

        <div class="overlay">
            <div class="text">
                <h2> WITH OVER 25 YEARS
                    OF EXPERIENCE IN CARS TRADING WORk</h2>
                <p>value is a service of trust.The trust your customers have in
                    you.The trust you have in your people,stratigies and systems,
                    And always delivering on expectation.</p>
                <a href="#services" class="main-btn">Discover Our Cars</a>


            </div>
        </div>

        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let slides = document.getElementsByClassName("slide");
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                slides[slideIndex - 1].style.display = "block";
                setTimeout(showSlides, 4000); // Change image every 4 seconds (adjust as needed)
            }

        </script>

        <section class="services" id="services">
            <h2 class="title">𝒍𝒂𝒕𝒆𝒔𝒕 𝒐𝒇𝒇𝒆𝒓𝒔</h2>
            <div class="content">
                <%- include("../partials/cardlatestoffers.ejs") %>
                <div class="card">

                    <div class="info">
                        <a class="carname">bmw-cs</a>
                        <img src="./images/BMW-M5-CS-.jpg" class="carpic">
                        <P>old price: <span class="middle-line">6,500,000</span>EGP </P>
                        <P>new price:4,875,000 EGP</P>
                        <P><span style="color: rgba(206, 2, 2, 0.664)">discount:25%</span></P>
                    </div>
                    <div class="order">
                        <a href="/cars/bmw" class="carbtn">show details</a>
                    </div>

                </div>

                <div class="card">

                    <div class="info">
                        <a class="carname">Kia-Cerato-GT</a>
                        <img src="./images/kia-carens-indonesia-1-1692597699.jpeg" class="carpic">
                        <P>old price: <span class="middle-line">4,000,000</span>EGP </P>
                        <P>new price:3,200,000 EGP</P>
                        <P><span style="color: rgba(206, 2, 2, 0.664)">discount:20%</span></P>
                    </div>
                    <div class="order">
                        <a href="/cars/kia" class="carbtn">show details</a>
                    </div>

                </div>

                <div class="card">

                    <div class="info">
                        <a class="carname">Porsche-GTS</a>
                        <img src="./images/2020-Porsche-Macan-GTS-1.jpg" class="carpic">
                        <P>Old price: <span class="middle-line">12,890,750</span>EGP </P>
                        <P>New price:9,023,525 EGP</P>
                        <P><span style="color: rgba(206, 2, 2, 0.664)">Discount:30%</span></P>
                    </div>
                    <div class="order">
                        <a href="/cars/porsche" class="carbtn">Show details</a>
                    </div>

                </div>
                
                <div class="card">

                    <div class="info">
                        <a class="carname">skoda-KODIAQ</a>
                        <img src="./images/skoda.jpg" class="carpic">
                        <P>old price: <span class="middle-line">1,040,000</span>EGP </P>
                        <P>new price:676,000 EGP</P>
                        <P><span style="color: rgba(230, 2, 2, 0.664)">discount:45%</span></P>
                    </div>
                    <div class="order">
                        <a href="/cars/skoda" class="carbtn">show details</a>
                    </div>

                </div>
                <div class="card">

                    <div class="info">
                        <a class="carname">volkswagen-passat</a>
                        <img src="./images/vvvv.png" class="carpic">
                        <P>old price: <span class="middle-line">1,600,000</span>EGP </P>
                        <P>new price:1,440,000 EGP</P>
                        <P><span style="color: rgba(230, 6, 6, 0.733)">discount:10%</span></P>
                    </div>
                    <div class="order">
                        <a href="/cars/vw" class="carbtn">show details</a>
                    </div>

                </div>

            </div>



        </section>

        <%- include("./partials/footer.ejs") %>

        <span class="clearfix"></span>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>