body {
    font-size: 16px;
    font-family: system-ui;
    background: url(images/wallpaper3.jpg);
}

a {
    border: 1px solid black;
    padding: 2px;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    border: 1px solid black;
    padding: 2px;
    background-color: black;
    color: white;
    transition: 200ms;
}

#myform {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    color: black;
}

#myform {
    width: 400px;
    height: 580px;
    padding: 70px 70px;
    border: 5px solid #ccc;
    border-radius: 30px;
    background-color: lightgray;
    margin: 4% auto;
}

label {
    display: block;
    margin-bottom: 5px
}

label i {
    color: #ccc;
    font-size: 80%;
}

input,
select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
}

.box {
    padding-bottom: 10px;
}

.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}

.form-inline label,
.form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.error {
    color: red;
    font-size: 90%;
}

input[type=text] {
    outline: none;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #ef6e58;
    border-color: #ef6e58;
    box-shadow: 0 3px 0 #bd432e;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #bd432e;
    border-color: #bd432e;
}

.input-1 {

    border: 1px solid #01cc40;
}

.input-2 {

    border: 1px solid red;
}

.input-3 {
    border: 1px solid #01cc40 !important;
}

select {
    outline: none !important;
}

.input-4 {
    border: 1px solid red;
}